<%- include('./startReqs.ejs', {page:"Game"}) %>

    <div class="uiParent">

        <h3 class="uiHeader fastestPath">Fastest Path: </h3>



    </div>

    <div class="goalReachedParent">Goal Reached</div>

    <div class="line"></div>

    <div class="mapContainer">
        <div class="map" id="map"></div>
    </div>

    <%- include('./endReqs.ejs'); %>